In [43]:
import pandas as pd

In [10]:
########Checkpoints - Part 1######
##################################
companies = pd.read_table("companies.txt", encoding="ANSI")
companies["permalink"] = companies.permalink.str.lower()
print("companies dim:", companies.shape)

rounds = pd.read_csv("rounds2.csv", encoding="ANSI")
rounds["company_permalink"] = rounds.company_permalink.str.lower()
print("rounds dim:", rounds.shape)

master_frame = rounds.merge(companies, left_on="company_permalink", right_on="permalink", how="left")
print("master_frame dim:", master_frame.shape)

companies dim: (66368, 10)
rounds dim: (114949, 6)
master_frame dim: (114949, 16)

In [16]:
########Checkpoints - Part 2######
##################################
raised_amount_per_funding_round = master_frame.groupby(["funding_round_type"]).agg({'raised_amount_usd':'mean'}).reset_index()
suitable_funding_type = raised_amount_per_funding_round.query('raised_amount_usd >= 5000000 & raised_amount_usd <= 15000000')["funding_round_type"].iloc[0]
suitable_funding_type

'venture'

In [105]:
########Checkpoints - Part 3######
##################################
master_frame_filtered = master_frame[master_frame['funding_round_type'] == suitable_funding_type]
master_frame_filtered = master_frame_filtered.loc[~pd.isnull(master_frame.country_code)]
master_frame_filtered_country_agg = master_frame_filtered.groupby(["country_code"]).agg({'raised_amount_usd':'sum'}).reset_index()
top9 = master_frame_filtered_country_agg.sort_values("raised_amount_usd", ascending=False).reset_index(drop=True).iloc[0:9]
c1 = top9.country_code.loc[0]
c2 = top9.country_code.loc[2]
c3 = top9.country_code.loc[3]
print(c1, c2, c3)
top9

USA GBR IND

  country_code  raised_amount_usd
0          USA       4.225108e+11
1          CHN       3.983542e+10
2          GBR       2.024563e+10
3          IND       1.439186e+10
4          CAN       9.583332e+09
5          FRA       7.259537e+09
6          ISR       6.907515e+09
7          DEU       6.346960e+09
8          JPN       3.363677e+09

In [167]:
########Checkpoints - Part 4######
##################################
mapping = pd.read_csv("mapping.csv", encoding="ANSI")
mapping = mapping.loc[~pd.isnull(mapping.category_list)].drop(['Blanks'], axis=1)
mapping_long = pd.melt(mapping, id_vars="category_list", var_name="main_sector", value_name="val1")
mapping_long = mapping_long.query('val1 == 1').drop(['val1'], axis=1)
mapping_long["category_list"] = mapping_long.category_list.str.replace('^0', 'Na')
mapping_long["category_list"] = mapping_long.category_list.str.replace('([^\\.])(0)', '\\1na')
print("mapping_long dim", mapping_long.shape)
mapping_long.head()

mapping_long dim (687, 2)

       category_list          main_sector
7   Adventure Travel  Automotive & Sports
13         Aerospace  Automotive & Sports
44              Auto  Automotive & Sports
45   Automated Kiosk  Automotive & Sports
46        Automotive  Automotive & Sports

In [168]:
master_frame["primary_category"] = master_frame.category_list.str.split("\\|", n=1, expand=True)[0]
master_frame_sector = master_frame.merge(mapping_long, left_on="primary_category", right_on="category_list", how="left")
master_frame_sector["main_sector"] = master_frame_sector.main_sector.fillna("")
print("master_frame_sector dim", master_frame_sector.shape)
#master_frame_sector.to_csv("master_frame_sector.csv") -- fortableau

master_frame_sector dim (114949, 19)

In [169]:
########Checkpoints - Part 5######
##################################
###########################
##### Prepare D1
###########################
master_frame_c1 = master_frame_sector[(master_frame_sector["funding_round_type"]==suitable_funding_type) &
                                      (master_frame_sector["country_code"]==c1) & \
                                      (master_frame_sector["raised_amount_usd"] >= 5000000) & \
                                      (master_frame_sector["raised_amount_usd"] <= 15000000)]
print("master_frame_c1 dim", master_frame_c1.shape)
master_frame_c1_agg = master_frame_c1[["main_sector", "raised_amount_usd"]]\
                        .groupby(["main_sector"])\
                        .agg(['count', 'sum'])\
                        .rename(columns={'count':'raised_amount_usd_count', 'sum':'raised_amount_usd_total'})
master_frame_c1_agg.columns = master_frame_c1_agg.columns.droplevel(0)
D1 = master_frame_c1.merge(master_frame_c1_agg, on="main_sector")
print("D1 dim", D1.shape)
master_frame_c1_agg.sort_values(["raised_amount_usd_count"], ascending=False).reset_index().loc[0:2]

master_frame_c1 dim (12150, 19)
D1 dim (12150, 21)

,main_sector,raised_amount_usd_count,raised_amount_usd_total
0,Others,2950,2.632101e+10
1,"Social, Finance, Analytics, Advertising",2714,2.380738e+10
2,Cleantech / Semiconductors,2350,2.163343e+10

In [170]:
###########################
##### Prepare D2
###########################
master_frame_c2 = master_frame_sector[(master_frame_sector["funding_round_type"]==suitable_funding_type) & \
                                      (master_frame_sector["country_code"]==c2) & \
                                      (master_frame_sector["raised_amount_usd"] >= 5000000) & \
                                      (master_frame_sector["raised_amount_usd"] <= 15000000)]
print("master_frame_c2 dim", master_frame_c2.shape)
master_frame_c2_agg = master_frame_c2[["main_sector", "raised_amount_usd"]]\
                        .groupby(["main_sector"])\
                        .agg(['count', 'sum'])\
                        .rename(columns={'count':'raised_amount_usd_count', 'sum':'raised_amount_usd_total'})
master_frame_c2_agg.columns = master_frame_c2_agg.columns.droplevel(0)
D2 = master_frame_c2.merge(master_frame_c2_agg, on="main_sector")
print("D2 dim", D2.shape)
master_frame_c2_agg.sort_values(["raised_amount_usd_count"], ascending=False).reset_index().loc[0:2]

master_frame_c2 dim (628, 19)
D2 dim (628, 21)

,main_sector,raised_amount_usd_count,raised_amount_usd_total
0,Others,147,1.283624e+09
1,"Social, Finance, Analytics, Advertising",133,1.089404e+09
2,Cleantech / Semiconductors,130,1.163990e+09

In [171]:
###########################
##### Prepare D3
###########################
master_frame_c3 = master_frame_sector[(master_frame_sector["funding_round_type"]==suitable_funding_type) & \
                                      (master_frame_sector["country_code"]==c3) & \
                                      (master_frame_sector["raised_amount_usd"] >= 5000000) & \
                                      (master_frame_sector["raised_amount_usd"] <= 15000000)]
print("master_frame_c3 dim", master_frame_c3.shape)
master_frame_c3_agg = master_frame_c3[["main_sector", "raised_amount_usd"]]\
                        .groupby(["main_sector"])\
                        .agg(['count', 'sum'])\
                        .rename(columns={'count':'raised_amount_usd_count', 'sum':'raised_amount_usd_total'})
master_frame_c3_agg.columns = master_frame_c3_agg.columns.droplevel(0)
D3 = master_frame_c3.merge(master_frame_c3_agg, on="main_sector")
print("D3 dim", D3.shape)
master_frame_c3_agg.sort_values(["raised_amount_usd_count"], ascending=False).reset_index().loc[0:2]

master_frame_c3 dim (330, 19)
D3 dim (330, 21)

,main_sector,raised_amount_usd_count,raised_amount_usd_total
0,Others,110,1.013410e+09
1,"Social, Finance, Analytics, Advertising",60,5.505496e+08
2,"News, Search and Messaging",52,4.338345e+08

In [178]:
comp1 = D1.query('main_sector == "Others"').groupby(["permalink", "name"])\
            .agg({'raised_amount_usd':'sum'}).reset_index()\
            .sort_values(["raised_amount_usd"], ascending=False).reset_index()["name"].loc[0]
comp2 = D2.query('main_sector == "Others"').groupby(["permalink", "name"])\
            .agg({'raised_amount_usd':'sum'}).reset_index()\
            .sort_values(["raised_amount_usd"], ascending=False).reset_index()["name"].loc[0]
comp3 = D3.query('main_sector == "Others"').groupby(["permalink", "name"])\
            .agg({'raised_amount_usd':'sum'}).reset_index()\
            .sort_values(["raised_amount_usd"], ascending=False).reset_index()["name"].loc[0]
(comp1, comp2, comp3)

('Virtustream', 'Electric Cloud', 'FirstCry.com')

In [179]:
comp1_1 = D1.query('main_sector == "Social, Finance, Analytics, Advertising"').groupby(["permalink", "name"])\
            .agg({'raised_amount_usd':'sum'}).reset_index()\
            .sort_values(["raised_amount_usd"], ascending=False).reset_index()["name"].loc[0]
comp2_1 = D2.query('main_sector == "Social, Finance, Analytics, Advertising"').groupby(["permalink", "name"])\
            .agg({'raised_amount_usd':'sum'}).reset_index()\
            .sort_values(["raised_amount_usd"], ascending=False).reset_index()["name"].loc[0]
comp3_1 = D3.query('main_sector == "Social, Finance, Analytics, Advertising"').groupby(["permalink", "name"])\
            .agg({'raised_amount_usd':'sum'}).reset_index()\
            .sort_values(["raised_amount_usd"], ascending=False).reset_index()["name"].loc[0]
(comp1_1, comp2_1, comp3_1)

('SST Inc. (Formerly ShotSpotter)', 'Celltick Technologies', 'Manthan Systems')